= simple_form_for(@workout, html: { class: 'form-horizontal'}) do |f|
  = f.input :date, label: "Date"
  = f.input :workout, label: "What muscle group did you workout", input_html: { class: "form-control"}
  = f.input :mood, label: "How are you feeling after the workout?", input_html: { class: "form-control"}
  = f.input :workout, label: "How long was the workout", input_html: { class: "form-control"}
  %br/
  = f.button :submit